root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{cc,c,h,lua}]
indent_style = space
indent_size = 2

[{*.py,*.sh,*.cmake,CMakeLists.txt}]
indent_style = space
indent_size = 4

[{.travis.yml,appveyor.yml}]
indent_style = space
indent_size = 2