[submodule "ext/gtest"]
	path = third_party/gtest
	url = https://github.com/google/googletest.git
	shallow = true
[submodule "ext/benchmark"]
	path = third_party/benchmark
	url = https://github.com/google/benchmark.git
[submodule "ext/flatbuffers"]
	path = third_party/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "ext/lua-argparse"]
	path = third_party/lua-argparse
	url = https://github.com/mpeterv/argparse.git
[submodule "ext/abseil"]
	path = third_party/abseil
	url = https://github.com/abseil/abseil-cpp.git
[submodule "third_party/re2c/re2c"]
	path = third_party/re2c/re2c
	url = https://github.com/skvadrik/re2c.git
